###############################
###### REQUIRED ENV VARS ######
###############################

# URL origin under which the app is available. Used as the hostname for short links
# Example: http://localhost:3000
DEPLOYMENT_ORIGIN=

# Upstash Redis – required for Redis caching and short link persistence
# Get your Redis REST URL and Token here: https://upstash.com/docs/redis/overall/getstarted
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Clerk authentication – required for user sign up/in
# Get yourself a free Clerk account: https://clerk.com/
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

###############################
###### OPTIONAL ENV VARS ######
###############################

# React flow is the charting system.
# Whether to show or hide the attribution notice. Defaults to `false`
# https://reactflow.dev/docs/guides/remove-attribution/
NEXT_PUBLIC_HIDE_REACT_FLOW_ATTRIBUTION=
