:root {
	--color-neutral-50: #f8fafc;
	--font-families-default: Inter;
	--font-families-code: Fira Code;
	--font-sizes-xs: 0.75rem;
	--font-sizes-sm: 0.8125rem;
	--font-sizes-md: 0.875rem;
	--font-sizes-lg: 1.125rem;
	--font-sizes-xl: 1.25rem;
	--font-sizes-2xl: 1.5rem;
	--font-sizes-3xl: 1.875rem;
	--font-sizes-4xl: 2.25rem;
	--font-sizes-5xl: 3rem;
	--font-sizes-6xl: 3.75rem;
	--font-sizes-7xl: 4.5rem;
	--font-sizes-8xl: 6rem;

	--font-weights-regular: 400;
	--font-weights-medium: 500;
	--font-weights-bold: 600;

	--shadow-xl: 0 20px 25px -5px rgba(15, 23, 42, 0.1), 0 10px 10px -5px rgba(15, 23, 42, 0.05);
	--shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.3);
	--shadow-lg: 0 10px 15px -3px rgba(15, 23, 42, 0.05), 0 4px 6px -2px rgba(15, 23, 42, 0.05);
	--shadow-md: 0 4px 6px -1px rgba(15, 23, 42, 0.1), 0 2px 4px -1px rgba(15, 23, 42, 0.05);
	--shadow-sm: 0 1px 3px 0 rgba(15, 23, 42, 0.1), 0 1px 2px 0 rgba(15, 23, 42, 0.05);
	--shadow-xs: 0 1px 2px 0 rgba(15, 23, 42, 0.05);
	--text-decoration-underline: underline;
	--text-decoration-overline: overline;
	--text-decoration-line-through: line-through;
	--text-decoration-no-underline: none;
	--border-radius-none: 0px;
	--border-radius-xs: 0.125rem;
	--border-radius-sm: 0.25rem;
	--border-radius-md: 0.375rem;
	--border-radius-lg: 0.5rem;
	--border-radius-xl: 0.75rem;
	--border-radius-2xl: 1rem;
	--border-radius-3xl: 1.5rem;
	--border-radius-full: 9999px;
	--border-width-0: 0px;
	--border-width-2: 2px;
	--border-width-4: 4px;
	--border-width-8: 8px;
	--color-red-50: #fdf2f8;
	--color-neutral-100: #f1f5f9;
	--color-neutral-200: #e2e8f0;
	--color-neutral-300: #cbd5e1;
	--color-neutral-400: #94a3b8;
	--color-neutral-500: #64748b;
	--color-neutral-600: #475569;
	--color-neutral-700: #293548;
	--color-neutral-800: #1e293b;
	--color-neutral-900: #0f172a;
	--color-neutral-950: #020617;
	--color-neutral-white: #fff;
	--color-neutral-black: #000;
	--color-red-100: #fce7f3;
	--color-red-200: #fbcfe8;
	--color-red-300: #f9a8d4;
	--color-red-400: #f472b6;
	--color-red-500: #ec4899;
	--color-red-600: #db2777;
	--color-red-800: #9d174d;
	--color-red-900: #831843;
	--color-red-950: #500724;
	--color-blue-50: #eef2ff;
	--color-blue-100: #e0e7ff;
	--color-blue-200: #c7d2fe;
	--color-blue-300: #a5b4fc;
	--color-blue-400: #818cf8;
	--color-blue-500: #6366f1;
	--color-blue-600: #4f46e5;
	--color-blue-700: #4338ca;
	--color-blue-800: #3730a3;
	--color-blue-900: #312e81;
	--color-blue-950: #1e1b4b;
	--color-green-50: #ecfdf5;
	--color-green-100: #d1fae5;
	--color-green-200: #a7f3d0;
	--color-green-300: #6ee7b7;
	--color-green-400: #34d399;
	--color-green-500: #10b981;
	--color-green-600: #059669;
	--color-green-700: #047857;
	--color-green-800: #065f46;
	--color-green-900: #064e3b;
	--color-green-950: #022c22;
	--color-orange-50: #fff7ed;
	--color-orange-100: #ffedd5;
	--color-orange-200: #fed7aa;
	--color-orange-300: #fdba74;
	--color-orange-400: #fb923c;
	--color-orange-500: #f97316;
	--color-orange-600: #ea580c;
	--color-orange-700: #c2410c;
	--color-orange-800: #9a3412;
	--color-orange-900: #7c2d12;
	--color-orange-950: #431407;
	--color-yellow-50: #fffbeb;
	--color-red-700: #be185d;
	--color-violet-50: #f5f3ff;
	--color-violet-100: #ede9fe;
	--color-violet-200: #ddd6fe;
	--color-violet-300: #c4b5fd;
	--color-violet-400: #a78bfa;
	--color-violet-500: #8b5cf6;
	--color-violet-600: #7c3aed;
	--color-violet-700: #6d28d9;
	--color-violet-800: #5b21b6;
	--color-violet-900: #4c1d95;
	--color-violet-950: #2e1065;
	--color-yellow-100: #fef3c7;
	--color-yellow-200: #fde68a;
	--color-yellow-300: #fcd34d;
	--color-yellow-400: #fbbf24;
	--color-yellow-500: #f59e0b;
	--color-yellow-600: #d97706;
	--color-yellow-700: #b45309;
	--color-yellow-800: #92400e;
	--color-yellow-900: #78350f;
	--color-yellow-950: #451a03;
	--button-cta-color-border: rgba(0, 0, 0, 0);
	--border-width-1: 1px;
	--dropdown-menu-item-color-bg: rgba(0, 0, 0, 0);
	--button-destructive-color-border: rgba(0, 0, 0, 0);
	--tag-color-bg: rgba(0, 0, 0, 0);
	--tag-color-bg-hover: rgba(0, 0, 0, 0);
	--tag-color-bg-active: rgba(0, 0, 0, 0);
	--checkbox-color-bg: rgba(0, 0, 0, 0);

	--tag-color-text: rgba(0, 0, 0, 0);
	--button-destructive-color-border-hover: rgba(0, 0, 0, 0);
	--button-destructive-color-border-active: rgba(0, 0, 0, 0);
	--button-cta-color-border-hover: rgba(0, 0, 0, 0);
	--button-cta-color-border-active: rgba(0, 0, 0, 0);
	--button-outline-color-bg: rgba(0, 0, 0, 0);
	--button-outline-color-bg-hover: rgba(0, 0, 0, 0);
	--button-outline-color-border-active: rgba(0, 0, 0, 0);
	--button-transparent-color-bg: rgba(0, 0, 0, 0);
	--button-transparent-color-border: rgba(0, 0, 0, 0);
	--button-transparent-color-border-hover: rgba(0, 0, 0, 0);
	--button-transparent-color-border-active: rgba(0, 0, 0, 0);
	--color-neutral-150: #e9eff5;
	--color-neutral-250: #d3dce6;
	--color-neutral-350: #afbccd;
	--sidebar-menu-item-color-bg: rgba(0, 0, 0, 0);
	--dropdown-menu-item-destructive-color-bg: rgba(0, 0, 0, 0);
	--table-row-color-bg: rgba(0, 0, 0, 0);
	--table-color-bg: rgba(0, 0, 0, 0);
	--table-color-border: rgba(0, 0, 0, 0);
	--color-text-subtl: var(--color-neutral-400);
	--color-bg-default: var(--color-neutral-white);
	--color-bg-subtle-default: var(--color-neutral-50);
	--color-border-subtle: var(--color-neutral-150);
	--color-border-default: var(--color-neutral-250);
	--color-bg-strong-default: var(--color-neutral-100);
	--color-bg-strong-hover: var(--color-neutral-200);
	--color-bg-strong-active: var(--color-neutral-300);
	--color-backdrop: rgba(2, 6, 23, 0.25);
	--color-border-intense: var(--color-neutral-300);
	--color-text-default: var(--color-neutral-500);
	--color-text-intense: var(--color-neutral-900);
	--color-text-disabled: var(--color-neutral-300);
	--color-success-default: var(--color-green-600);
	--color-critical-default: var(--color-red-600);
	--color-primary-default: var(--color-blue-500);
	--color-primary-hover: var(--color-blue-600);
	--color-primary-active: var(--color-blue-700);
	--color-critical-hover: var(--color-red-700);
	--color-critical-active: var(--color-red-800);
	--color-success-hover: var(--color-green-700);
	--color-success-active: var(--color-green-800);
	--color-text-primary-default: var(--color-blue-500);
	--color-text-primary-hover: var(--color-blue-600);
	--color-text-primary-active: var(--color-blue-700);
	--color-text-critical-default: var(--color-red-600);
	--color-text-critical-hover: var(--color-red-700);
	--color-text-critical-active: var(--color-red-800);
	--color-text-success-default: var(--color-green-600);
	--color-text-success-hover: var(--color-green-700);
	--color-text-success-active: var(--color-green-800);
	--color-icon-default: var(--color-neutral-500);
	--color-icon-subtl: var(--color-neutral-400);
	--color-bg-hover: var(--color-neutral-150);
	--color-bg-active: var(--color-neutral-200);
	--color-icon-primary: var(--color-blue-500);
	--color-critical-subtle-default: var(--color-red-100);
	--color-critical-subtle-hover: var(--color-red-200);
	--color-critical-subtle-active: var(--color-red-300);
	--input-color-border: var(--color-neutral-250);
	--color-divider-default: #d3dce6;
	--color-divider-subtle: #e9eff5;
	--color-success-subtle-default: var(--color-green-100);
	--color-success-subtle-hover: var(--color-green-200);
	--color-success-subtle-active: var(--color-green-300);
	--color-primary-subtle-default: var(--color-blue-100);
	--color-primary-subtle-hover: var(--color-blue-200);
	--color-primary-subtle-active: var(--color-blue-300);
	--color-warning-default: var(--color-yellow-500);
	--color-warning-hover: var(--color-yellow-600);
	--color-warning-active: var(--color-yellow-700);
	--color-warning-subtle-default: var(--color-yellow-100);
	--color-warning-subtle-hover: var(--color-yellow-200);
	--color-warning-subtle-active: var(--color-yellow-300);
	--color-help-default: var(--color-violet-600);
	--color-help-hover: var(--color-violet-700);
	--color-help-active: var(--color-violet-800);
	--color-help-subtle-default: var(--color-violet-100);
	--color-help-subtle-hover: var(--color-violet-200);
	--color-help-subtle-active: var(--color-violet-300);
	--input-color-bg: var(--color-neutral-white);
	--input-border-radius: var(--border-radius-sm);
	--input-color-text: var(--color-neutral-900);
	--input-color-placeholder: var(--color-neutral-400);
	--input-color-border-active: var(--color-blue-500);
	--input-color-border-hover: var(--color-neutral-300);
	--input-color-border-error: var(--color-red-600);
	--button-color-border: var(--color-neutral-250);
	--button-color-bg: var(--color-neutral-white);
	--button-color-text: var(--color-neutral-500);
	--button-color-bg-hover: var(--color-neutral-150);
	--button-color-bg-active: var(--color-neutral-200);
	--button-color-icon: #94a3b8;
	--button-cta-color-bg: var(--color-blue-500);
	--button-cta-color-bg-hover: var(--color-blue-600);
	--button-cta-color-bg-active: var(--color-blue-700);
	--button-cta-color-text: var(--color-neutral-white);
	--button-cta-color-icon: var(--color-neutral-white);
	--button-border-radius: var(--border-radius-sm);
	--button-border-width: var(--border-width-1);
	--color-bg-app: var(--color-neutral-100);
	--dropdown-menu-item-color-bg-hover: var(--color-neutral-150);
	--dropdown-menu-item-color-bg-active: var(--color-neutral-200);
	--dropdown-menu-color-bg: var(--color-neutral-white);
	--dropdown-menu-color-border: var(--color-neutral-150);
	--progress-color-bg: var(--color-neutral-200);
	--progress-color-fg: var(--color-neutral-500);
	--progress-border-radius: var(--border-radius-full);
	--slider-color-bg: var(--color-neutral-200);
	--slider-color-fg: var(--color-neutral-500);
	--slider-indicator-color-border: var(--color-neutral-250);
	--slider-indicator-color-bg: var(--color-neutral-white);
	--button-destructive-color-bg: var(--color-red-600);
	--button-destructive-color-bg-active: var(--color-red-800);
	--button-destructive-color-bg-hover: var(--color-red-700);
	--button-destructive-color-icon: var(--color-neutral-white);
	--button-destructive-color-text: var(--color-neutral-white);
	--color-divider-intense: #cbd5e1;
	--tooltip-color-bg: rgba(15, 23, 42, 0.9);
	--tooltip-color-text: rgba(241, 245, 249, 0.9);
	--dropdown-menu-border-radius: var(--border-radius-md);
	--tag-color-border: var(--color-neutral-150);
	--tag-border-radius: var(--border-radius-sm);
	--tag-border-width: var(--border-width-1);
	--checkbox-color-bg-hover: var(--color-neutral-150);
	--checkbox-color-border: var(--color-neutral-250);
	--checkbox-color-border-hover: var(--color-neutral-300);
	--dropdown-menu-item-color-text: var(--color-neutral-500);
	--dropdown-menu-item-color-text-hover: var(--color-neutral-900);
	--dropdown-menu-item-color-text-active: var(--color-neutral-900);
	--dropdown-menu-item-color-icon: var(--color-neutral-500);
	--dropdown-menu-item-color-icon-hover: var(--color-neutral-900);
	--dropdown-menu-item-color-icon-active: var(--color-neutral-900);
	--dropdown-menu-item-border-radius: var(--border-radius-sm);
	--popover-color-bg: var(--color-neutral-white);
	--popover-color-border: var(--color-neutral-250);
	--popover-border-radius: var(--border-radius-sm);
	--modal-color-bg: var(--color-neutral-white);
	--modal-border-radius: var(--border-radius-sm);
	--modal-color-border: var(--color-neutral-250);
	--shortcut-color-bg: rgba(148, 163, 184, 0.15);
	--shortcut-color-text: var(--color-neutral-400);
	--button-color-icon-hover: var(--color-neutral-900);
	--button-color-icon-active: var(--color-neutral-900);
	--color-icon-intense: var(--color-neutral-900);
	--color-text-inverse-default: var(--color-neutral-500);
	--color-text-inverse-disabled: var(--color-neutral-300);
	--color-text-inverse-intense: var(--color-neutral-900);
	--color-text-inverse-subtl: var(--color-neutral-400);
	--color-text-on-color: var(--color-neutral-white);
	--button-color-text-hover: var(--color-neutral-900);
	--button-color-text-active: var(--color-neutral-900);
	--button-color-border-hover: var(--color-neutral-250);
	--button-color-border-active: var(--color-neutral-250);
	--badge-color-bg: #cbd5e1;
	--badge-color-text: var(--color-neutral-500);
	--button-destructive-color-text-hover: var(--color-neutral-white);
	--button-destructive-color-text-active: var(--color-neutral-white);
	--button-destructive-color-icon-hover: var(--color-neutral-white);
	--button-destructive-color-icon-active: var(--color-neutral-white);
	--button-cta-color-icon-hover: var(--color-neutral-white);
	--button-cta-color-icon-active: var(--color-neutral-white);
	--button-cta-color-text-hover: var(--color-neutral-white);
	--button-cta-color-text-active: var(--color-neutral-white);
	--button-outline-color-bg-active: var(--color-neutral-200);
	--button-outline-color-icon: #94a3b8;
	--button-outline-color-icon-hover: var(--color-neutral-900);
	--button-outline-color-icon-active: var(--color-neutral-900);
	--button-outline-color-border: var(--color-neutral-250);
	--button-outline-color-border-hover: var(--color-neutral-300);
	--button-outline-color-text: var(--color-neutral-500);
	--button-outline-color-text-hover: var(--color-neutral-900);
	--button-outline-color-text-active: var(--color-neutral-900);
	--checkbox-color-bg-active: var(--color-neutral-200);
	--checkbox-color-border-active: var(--color-neutral-300);
	--button-transparent-color-bg-hover: var(--color-neutral-150);
	--button-transparent-color-bg-active: var(--color-neutral-200);
	--button-transparent-color-icon: #94a3b8;
	--button-transparent-color-icon-hover: var(--color-neutral-900);
	--button-transparent-color-icon-active: var(--color-neutral-900);
	--button-transparent-color-text: var(--color-neutral-500);
	--button-transparent-color-text-hover: var(--color-neutral-900);
	--button-transparent-color-text-active: var(--color-neutral-900);
	--checkbox-color-icon: var(--color-neutral-900);
	--input-color-icon: var(--color-neutral-500);
	--card-color-bg: var(--color-neutral-white);
	--card-color-border: var(--color-neutral-150);
	--color-text-warning-default: var(--color-yellow-500);
	--sidebar-menu-color-bg: var(--color-neutral-100);
	--sidebar-menu-color-border: var(--color-neutral-150);
	--sidebar-menu-item-color-bg-active: var(--color-neutral-200);
	--sidebar-menu-item-color-bg-hover: var(--color-neutral-150);
	--sidebar-menu-item-color-icon: var(--color-neutral-500);
	--sidebar-menu-item-color-icon-active: var(--color-neutral-900);
	--sidebar-menu-item-color-icon-hover: var(--color-neutral-900);
	--sidebar-menu-item-color-text: var(--color-neutral-500);
	--sidebar-menu-item-color-text-active: var(--color-neutral-900);
	--sidebar-menu-item-color-text-hover: var(--color-neutral-900);
	--sidebar-menu-item-border-radius: var(--border-radius-sm);
	--dropdown-menu-item-destructive-color-bg-active: var(--color-red-800);
	--dropdown-menu-item-destructive-color-bg-hover: var(--color-red-700);
	--dropdown-menu-item-destructive-color-icon: var(--color-red-600);
	--dropdown-menu-item-destructive-color-icon-active: var(--color-neutral-white);
	--dropdown-menu-item-destructive-color-icon-hover: var(--color-neutral-white);
	--dropdown-menu-item-destructive-color-text: var(--color-red-600);
	--dropdown-menu-item-destructive-color-text-active: var(--color-neutral-white);
	--dropdown-menu-item-destructive-color-text-hover: var(--color-neutral-white);
	--table-row-color-bg-hover: var(--color-neutral-150);
	--table-row-color-bg-active: var(--color-neutral-200);
	--table-row-color-bg-selected: var(--color-blue-100);
	--table-row-color-bg-selected-hover: var(--color-blue-200);
	--table-row-color-bg-selected-active: var(--color-blue-300);
	--table-row-color-border: var(--color-neutral-150);
	--table-row-nested-color-bg-active: var(--color-neutral-200);
	--table-row-nested-color-bg-hover: var(--color-neutral-300);
	--table-row-nested-color-bg: var(--color-neutral-100);
}

.dark {
	--color-neutral-50: #020617;
	--shadow-xl: 0 20px 25px -5px rgba(2, 6, 23, 0.2), 0 10px 10px -5px rgba(2, 6, 23, 0.1);
	--shadow-2xl: 0 25px 50px -12px rgba(2, 6, 23, 0.3);
	--shadow-lg: 0 10px 15px -3px rgba(2, 6, 23, 0.2), 0 4px 6px -2px rgba(2, 6, 23, 0.1);
	--shadow-md: 0 4px 6px -1px rgba(2, 6, 23, 0.2), 0 2px 4px -1px rgba(2, 6, 23, 0.1);
	--shadow-sm: 0 1px 3px 0 rgba(2, 6, 23, 0.2), 0 1px 2px 0 rgba(2, 6, 23, 0.1);
	--shadow-xs: 0 1px 2px 0 rgba(2, 6, 23, 0.15);
	--color-neutral-100: #0f172a;
	--color-neutral-200: #1e293b;
	--color-neutral-300: #293548;
	--color-neutral-400: #475569;
	--color-neutral-500: #64748b;
	--color-neutral-600: #94a3b8;
	--color-neutral-700: #cbd5e1;
	--color-neutral-800: #e2e8f0;
	--color-neutral-900: #f1f5f9;
	--color-neutral-950: #f8fafc;
	--color-neutral-white: #fff;
	--color-neutral-black: #000;
	--button-color-border: rgba(0, 0, 0, 0);
	--dropdown-menu-item-color-bg: rgba(0, 0, 0, 0);
	--tag-color-border: rgba(0, 0, 0, 0);
	--button-color-border-hover: rgba(0, 0, 0, 0);
	--button-color-border-active: rgba(0, 0, 0, 0);
	--color-neutral-150: #172033;
	--color-neutral-250: #253143;
	--color-neutral-350: #384559;
	--sidebar-menu-item-color-bg: rgba(0, 0, 0, 0);
	--dropdown-menu-item-destructive-color-bg: rgba(0, 0, 0, 0);
	--color-text-subtl: var(--color-neutral-500);
	--color-bg-default: var(--color-neutral-100);
	--color-bg-subtle-default: var(--color-neutral-50);
	--color-border-subtle: #253143;
	--color-border-default: #384559;
	--color-bg-strong-default: var(--color-neutral-200);
	--color-bg-strong-hover: var(--color-neutral-300);
	--color-bg-strong-active: var(--color-neutral-400);
	--color-backdrop: rgba(2, 6, 23, 0.5);
	--color-border-intense: var(--color-neutral-500);
	--color-text-default: var(--color-neutral-600);
	--color-text-intense: var(--color-neutral-950);
	--color-text-disabled: var(--color-neutral-400);
	--color-icon-default: var(--color-neutral-600);
	--color-icon-subtl: var(--color-neutral-500);
	--color-bg-hover: var(--color-neutral-150);
	--color-bg-active: var(--color-neutral-250);
	--input-color-border: var(--color-neutral-400);
	--color-divider-default: #384559;
	--color-divider-subtle: #293548;
	--input-color-bg: var(--color-neutral-100);
	--input-color-text: var(--color-neutral-950);
	--input-color-placeholder: var(--color-neutral-500);
	--input-color-border-hover: var(--color-neutral-500);
	--button-color-bg: #293548;
	--button-color-text: var(--color-neutral-950);
	--button-color-bg-hover: #384559;
	--button-color-bg-active: #475569;
	--button-color-icon: #94a3b8;
	--button-cta-color-text: var(--color-neutral-white);
	--button-cta-color-icon: var(--color-neutral-white);
	--color-bg-app: var(--color-neutral-50);
	--dropdown-menu-item-color-bg-hover: var(--color-neutral-300);
	--dropdown-menu-item-color-bg-active: var(--color-neutral-400);
	--dropdown-menu-color-bg: var(--color-neutral-200);
	--dropdown-menu-color-border: #384559;
	--progress-color-bg: var(--color-neutral-200);
	--progress-color-fg: var(--color-neutral-500);
	--slider-color-bg: var(--color-neutral-200);
	--slider-color-fg: var(--color-neutral-500);
	--slider-indicator-color-border: #384559;
	--slider-indicator-color-bg: var(--color-neutral-100);
	--button-destructive-color-icon: var(--color-neutral-white);
	--button-destructive-color-text: var(--color-neutral-white);
	--color-divider-intense: #64748b;
	--tooltip-color-bg: rgba(2, 6, 23, 0.9);
	--tooltip-color-text: rgba(241, 245, 249, 0.9);
	--tag-color-bg: rgba(148, 163, 184, 0.2);
	--tag-color-bg-hover: rgba(148, 163, 184, 0.4);
	--tag-color-bg-active: rgba(148, 163, 184, 0.6);
	--checkbox-color-bg-hover: var(--color-neutral-150);
	--checkbox-color-border: #384559;
	--checkbox-color-border-hover: var(--color-neutral-500);
	--dropdown-menu-item-color-text: var(--color-neutral-600);
	--dropdown-menu-item-color-text-hover: var(--color-neutral-950);
	--dropdown-menu-item-color-text-active: var(--color-neutral-950);
	--dropdown-menu-item-color-icon: var(--color-neutral-600);
	--dropdown-menu-item-color-icon-hover: var(--color-neutral-900);
	--dropdown-menu-item-color-icon-active: var(--color-neutral-900);
	--popover-color-bg: var(--color-neutral-200);
	--popover-color-border: #384559;
	--modal-color-bg: var(--color-neutral-200);
	--modal-color-border: #384559;
	--shortcut-color-bg: rgba(148, 163, 184, 0.15);
	--shortcut-color-text: var(--color-neutral-600);
	--button-color-icon-hover: #f1f5f9;
	--button-color-icon-active: var(--color-neutral-900);
	--color-icon-intense: var(--color-neutral-900);
	--color-text-inverse-default: var(--color-neutral-200);
	--color-text-inverse-disabled: var(--color-neutral-700);
	--color-text-inverse-intense: var(--color-neutral-200);
	--color-text-inverse-subtl: var(--color-neutral-600);
	--color-text-on-color: var(--color-neutral-white);
	--tag-color-text: rgba(148, 163, 184, 0.2);
	--button-color-text-hover: var(--color-neutral-950);
	--button-color-text-active: var(--color-neutral-950);
	--badge-color-bg: #293548;
	--badge-color-text: var(--color-neutral-600);
	--button-destructive-color-text-hover: var(--color-neutral-white);
	--button-destructive-color-text-active: var(--color-neutral-white);
	--button-destructive-color-icon-hover: var(--color-neutral-white);
	--button-destructive-color-icon-active: var(--color-neutral-white);
	--button-cta-color-icon-hover: var(--color-neutral-white);
	--button-cta-color-icon-active: var(--color-neutral-white);
	--button-cta-color-text-hover: var(--color-neutral-white);
	--button-cta-color-text-active: var(--color-neutral-white);
	--button-outline-color-bg-active: var(--color-neutral-400);
	--button-outline-color-icon: #94a3b8;
	--button-outline-color-icon-hover: var(--color-neutral-900);
	--button-outline-color-icon-active: var(--color-neutral-900);
	--button-outline-color-border: #384559;
	--button-outline-color-border-hover: var(--color-neutral-500);
	--button-outline-color-text: var(--color-neutral-950);
	--button-outline-color-text-hover: var(--color-neutral-950);
	--button-outline-color-text-active: var(--color-neutral-950);
	--checkbox-color-bg-active: var(--color-neutral-250);
	--checkbox-color-border-active: var(--color-neutral-500);
	--button-transparent-color-bg-hover: var(--color-neutral-350);
	--button-transparent-color-bg-active: var(--color-neutral-400);
	--button-transparent-color-icon: #94a3b8;
	--button-transparent-color-icon-hover: var(--color-neutral-900);
	--button-transparent-color-icon-active: var(--color-neutral-900);
	--button-transparent-color-text: var(--color-neutral-950);
	--button-transparent-color-text-hover: var(--color-neutral-950);
	--button-transparent-color-text-active: var(--color-neutral-950);
	--checkbox-color-icon: var(--color-neutral-900);
	--input-color-icon: var(--color-neutral-600);
	--card-color-bg: var(--color-neutral-200);
	--card-color-border: #253143;
	--sidebar-menu-color-bg: var(--color-neutral-50);
	--sidebar-menu-color-border: #253143;
	--sidebar-menu-item-color-bg-active: var(--color-neutral-400);
	--sidebar-menu-item-color-bg-hover: var(--color-neutral-300);
	--sidebar-menu-item-color-icon: var(--color-neutral-600);
	--sidebar-menu-item-color-icon-active: var(--color-neutral-900);
	--sidebar-menu-item-color-icon-hover: var(--color-neutral-900);
	--sidebar-menu-item-color-text: var(--color-neutral-600);
	--sidebar-menu-item-color-text-active: var(--color-neutral-950);
	--sidebar-menu-item-color-text-hover: var(--color-neutral-950);
	--dropdown-menu-item-destructive-color-icon-active: var(--color-neutral-white);
	--dropdown-menu-item-destructive-color-icon-hover: var(--color-neutral-white);
	--dropdown-menu-item-destructive-color-text-active: var(--color-neutral-white);
	--dropdown-menu-item-destructive-color-text-hover: var(--color-neutral-white);
	--table-row-color-bg-hover: var(--color-neutral-150);
	--table-row-color-bg-active: var(--color-neutral-250);
	--table-row-color-border: #253143;
	--table-row-nested-color-bg-active: var(--color-neutral-300);
	--table-row-nested-color-bg-hover: var(--color-neutral-400);
	--table-row-nested-color-bg: var(--color-neutral-200);
}
