/* SPDX-FileCopyrightText: Copyright 2023 Dash0 Inc. */

:root {
	--alert-border-radius: var(--border-radius-md);
	--alert-border-width: var(--border-width-1);
	--alert-color-bg: var(--color-neutral-150);
	--alert-color-border: #40454e;
	--alert-destructive-color-bg: var(--color-red-600);
	--alert-destructive-color-border: var(--color-red-600);
	--alert-dialog-border-radius: var(--border-radius-lg);
	--alert-dialog-border-width: var(--border-width-0);
	--alert-dialog-color-bg: var(--color-neutral-150);
	--alert-dialog-color-border: #40454e;
	--badge-color-bg: #4f545d;
	--badge-color-text: var(--color-neutral-white);
	--badge-subtl-color-bg: #30353d;
	--badge-subtl-color-text: var(--color-neutral-600);
	--border-radius-2xl: 1rem;
	--border-radius-3xl: 1.5rem;
	--border-radius-full: 9999px;
	--border-radius-lg: 0.5rem;
	--border-radius-md: 0.375rem;
	--border-radius-none: 0px;
	--border-radius-sm: 0.25rem;
	--border-radius-xl: 0.75rem;
	--border-radius-xs: 0.125rem;
	--border-width-0: 0px;
	--border-width-1: 1px;
	--border-width-2: 2px;
	--border-width-4: 4px;
	--border-width-8: 8px;
	--button-border-radius: var(--border-radius-md);
	--button-border-width: var(--border-width-1);
	--button-color-bg-active: #6d737d;
	--button-color-bg-hover: #4f545d;
	--button-color-bg: #30353d;
	--button-color-border-active: rgba(0, 0, 0, 0);
	--button-color-border-hover: rgba(0, 0, 0, 0);
	--button-color-border: rgba(0, 0, 0, 0);
	--button-color-icon-active: var(--color-neutral-900);
	--button-color-icon-hover: #f3f5f6;
	--button-color-icon: #9ca2ab;
	--button-color-text-active: var(--color-neutral-950);
	--button-color-text-hover: var(--color-neutral-950);
	--button-color-text: var(--color-neutral-950);
	--button-cta-color-bg-active: var(--color-blue-700);
	--button-cta-color-bg-hover: var(--color-blue-600);
	--button-cta-color-bg: var(--color-blue-500);
	--button-cta-color-border-active: rgba(0, 0, 0, 0);
	--button-cta-color-border-hover: rgba(0, 0, 0, 0);
	--button-cta-color-border: rgba(0, 0, 0, 0);
	--button-cta-color-icon-active: var(--color-neutral-white);
	--button-cta-color-icon-hover: var(--color-neutral-white);
	--button-cta-color-icon: var(--color-neutral-white);
	--button-cta-color-text-active: var(--color-neutral-white);
	--button-cta-color-text-hover: var(--color-neutral-white);
	--button-cta-color-text: var(--color-neutral-white);
	--button-destructive-color-bg-active: var(--color-red-800);
	--button-destructive-color-bg-hover: var(--color-red-700);
	--button-destructive-color-bg: var(--color-red-600);
	--button-destructive-color-border-active: rgba(0, 0, 0, 0);
	--button-destructive-color-border-hover: rgba(0, 0, 0, 0);
	--button-destructive-color-border: rgba(0, 0, 0, 0);
	--button-destructive-color-icon-active: var(--color-neutral-white);
	--button-destructive-color-icon-hover: var(--color-neutral-white);
	--button-destructive-color-icon: var(--color-neutral-white);
	--button-destructive-color-text-active: var(--color-neutral-white);
	--button-destructive-color-text-hover: var(--color-neutral-white);
	--button-destructive-color-text: var(--color-neutral-white);
	--button-outline-color-bg-active: var(--color-neutral-400);
	--button-outline-color-bg-hover: rgba(0, 0, 0, 0);
	--button-outline-color-bg: rgba(0, 0, 0, 0);
	--button-outline-color-border-active: rgba(0, 0, 0, 0);
	--button-outline-color-border-hover: var(--color-neutral-500);
	--button-outline-color-border: #40454e;
	--button-outline-color-icon-active: var(--color-neutral-900);
	--button-outline-color-icon-hover: var(--color-neutral-900);
	--button-outline-color-icon: #9ca2ab;
	--button-outline-color-text-active: var(--color-neutral-950);
	--button-outline-color-text-hover: var(--color-neutral-950);
	--button-outline-color-text: var(--color-neutral-950);
	--button-transparent-color-bg-active: var(--color-neutral-400);
	--button-transparent-color-bg-hover: var(--color-neutral-350);
	--button-transparent-color-bg: rgba(0, 0, 0, 0);
	--button-transparent-color-border-active: rgba(0, 0, 0, 0);
	--button-transparent-color-border-hover: rgba(0, 0, 0, 0);
	--button-transparent-color-border: rgba(0, 0, 0, 0);
	--button-transparent-color-icon-active: var(--color-neutral-900);
	--button-transparent-color-icon-hover: var(--color-neutral-900);
	--button-transparent-color-icon: #9ca2ab;
	--button-transparent-color-text-active: var(--color-neutral-950);
	--button-transparent-color-text-hover: var(--color-neutral-950);
	--button-transparent-color-text: var(--color-neutral-950);
	--color-attention-active: var(--color-yellow-700);
	--color-attention-contrast: var(--color-yellow-950);
	--color-attention-default: var(--color-yellow-500);
	--color-attention-hover: var(--color-yellow-600);
	--color-attention-subtle-active: rgba(180, 83, 9, 0.2);
	--color-attention-subtle-default: rgba(245, 158, 11, 0.2);
	--color-attention-subtle-hover: rgba(217, 119, 6, 0.2);
	--color-backdrop: rgba(7, 8, 16, 0.5);
	--color-bg-active: var(--color-neutral-300);
	--color-bg-app: var(--color-neutral-50);
	--color-bg-default: var(--color-neutral-100);
	--color-bg-hover: var(--color-neutral-200);
	--color-bg-inset: var(--color-neutral-50);
	--color-bg-strong-active: var(--color-neutral-350);
	--color-bg-strong-default: var(--color-neutral-150);
	--color-bg-strong-hover: var(--color-neutral-250);
	--color-blue-100: #e0e7ff;
	--color-blue-200: #c7d2fe;
	--color-blue-300: #a5b4fc;
	--color-blue-400: #818cf8;
	--color-blue-500: #6366f1;
	--color-blue-50: #eef2ff;
	--color-blue-600: #4f46e5;
	--color-blue-700: #4338ca;
	--color-blue-800: #3730a3;
	--color-blue-900: #312e81;
	--color-blue-950: #1e1b4b;
	--color-border-attention: rgba(245, 158, 11, 0.5);
	--color-border-critical: rgba(238, 48, 48, 0.5);
	--color-border-default: #40454e;
	--color-border-intense: var(--color-neutral-500);
	--color-border-primary: rgba(99, 102, 241, 0.5);
	--color-border-severe: rgba(249, 115, 22, 0.5);
	--color-border-subtle: #2c3139;
	--color-border-success: rgba(69, 193, 117, 0.5);
	--color-critical-active: var(--color-red-800);
	--color-critical-contrast: var(--color-neutral-white);
	--color-critical-default: var(--color-red-600);
	--color-critical-hover: var(--color-red-700);
	--color-critical-subtle-active: rgba(143, 29, 29, 0.2);
	--color-critical-subtle-default: rgba(238, 48, 48, 0.2);
	--color-critical-subtle-hover: rgba(190, 38, 38, 0.2);
	--color-divider-default: #40454e;
	--color-divider-intense: #6d737d;
	--color-divider-subtle: #30353d;
	--color-green-100: #c3f2d5;
	--color-green-200: #a1e9bd;
	--color-green-300: #81dda4;
	--color-green-400: #62d08d;
	--color-green-500: #45c175;
	--color-green-50: #e6fbee;
	--color-green-600: #2ab15e;
	--color-green-700: #228e4b;
	--color-green-800: #196a38;
	--color-green-900: #114726;
	--color-green-950: #082313;
	--color-help-active: var(--color-violet-800);
	--color-help-default: var(--color-violet-600);
	--color-help-hover: var(--color-violet-700);
	--color-help-subtle-active: rgba(91, 33, 182, 0.1);
	--color-help-subtle-default: rgba(124, 58, 237, 0.1);
	--color-help-subtle-hover: rgba(109, 40, 217, 0.1);
	--color-icon-default: var(--color-neutral-600);
	--color-icon-intense: var(--color-neutral-900);
	--color-icon-on-color: var(--color-neutral-white);
	--color-icon-primary: var(--color-blue-500);
	--color-icon-subtl: var(--color-neutral-500);
	--color-neutral-100: #151721;
	--color-neutral-150: #1d2029;
	--color-neutral-200: #252931;
	--color-neutral-250: #2c3139;
	--color-neutral-300: #30353d;
	--color-neutral-350: #40454e;
	--color-neutral-400: #4f545d;
	--color-neutral-500: #6d737d;
	--color-neutral-50: #070810;
	--color-neutral-600: #9ca2ab;
	--color-neutral-700: #d0d4d9;
	--color-neutral-800: #e5e8eb;
	--color-neutral-900: #f3f5f6;
	--color-neutral-950: #f9fafb;
	--color-neutral-black: #000;
	--color-neutral-white: #fff;
	--color-orange-100: #ffedd5;
	--color-orange-200: #fed7aa;
	--color-orange-300: #fdba74;
	--color-orange-400: #fb923c;
	--color-orange-500: #f97316;
	--color-orange-50: #fff7ed;
	--color-orange-600: #ea580c;
	--color-orange-700: #c2410c;
	--color-orange-800: #9a3412;
	--color-orange-900: #7c2d12;
	--color-orange-950: #431407;
	--color-primary-active: var(--color-blue-700);
	--color-primary-contrast: var(--color-neutral-white);
	--color-primary-default: var(--color-blue-500);
	--color-primary-hover: var(--color-blue-600);
	--color-primary-subtle-active: rgba(67, 56, 202, 0.2);
	--color-primary-subtle-default: rgba(99, 102, 241, 0.2);
	--color-primary-subtle-hover: rgba(79, 70, 229, 0.2);
	--color-red-100: #ffc2c2;
	--color-red-200: #ffa0a0;
	--color-red-300: #ff8080;
	--color-red-400: #fe6363;
	--color-red-500: #f74949;
	--color-red-50: #ffe6e6;
	--color-red-600: #ee3030;
	--color-red-700: #be2626;
	--color-red-800: #8f1d1d;
	--color-red-900: #5f1313;
	--color-red-950: #300a0a;
	--color-severe-active: var(--color-orange-700);
	--color-severe-contrast: var(--color-neutral-white);
	--color-severe-default: var(--color-orange-500);
	--color-severe-hover: var(--color-orange-600);
	--color-severe-subtle-active: rgba(194, 65, 12, 0.2);
	--color-severe-subtle-default: rgba(249, 115, 22, 0.2);
	--color-severe-subtle-hover: rgba(234, 88, 12, 0.2);
	--color-success-active: var(--color-green-700);
	--color-success-default: var(--color-green-500);
	--color-success-hover: var(--color-green-600);
	--color-success-subtle-active: rgba(34, 142, 75, 0.2);
	--color-success-subtle-default: rgba(69, 193, 117, 0.2);
	--color-success-subtle-hover: rgba(42, 177, 94, 0.2);
	--color-text-attention-active: var(--color-yellow-700);
	--color-text-attention-default: var(--color-yellow-500);
	--color-text-attention-hover: var(--color-yellow-600);
	--color-text-critical-active: var(--color-red-800);
	--color-text-critical-default: var(--color-red-600);
	--color-text-critical-hover: var(--color-red-700);
	--color-text-default: var(--color-neutral-600);
	--color-text-disabled: var(--color-neutral-400);
	--color-text-intense: var(--color-neutral-950);
	--color-text-inverse-default: var(--color-neutral-200);
	--color-text-inverse-disabled: var(--color-neutral-700);
	--color-text-inverse-intense: var(--color-neutral-200);
	--color-text-inverse-subtl: var(--color-neutral-600);
	--color-text-on-color: var(--color-neutral-white);
	--color-text-primary-active: var(--color-blue-700);
	--color-text-primary-default: var(--color-blue-500);
	--color-text-primary-hover: var(--color-blue-600);
	--color-text-severe-active: var(--color-orange-700);
	--color-text-severe-default: var(--color-orange-500);
	--color-text-severe-hover: var(--color-orange-600);
	--color-text-subtl: var(--color-neutral-500);
	--color-text-success-active: var(--color-green-700);
	--color-text-success-default: var(--color-green-500);
	--color-text-success-hover: var(--color-green-600);
	--color-violet-100: #ede9fe;
	--color-violet-200: #ddd6fe;
	--color-violet-300: #c4b5fd;
	--color-violet-400: #a78bfa;
	--color-violet-500: #8b5cf6;
	--color-violet-50: #f5f3ff;
	--color-violet-600: #7c3aed;
	--color-violet-700: #6d28d9;
	--color-violet-800: #5b21b6;
	--color-violet-900: #4c1d95;
	--color-violet-950: #2e1065;
	--color-yellow-100: #fef3c7;
	--color-yellow-200: #fde68a;
	--color-yellow-300: #fcd34d;
	--color-yellow-400: #fbbf24;
	--color-yellow-500: #f59e0b;
	--color-yellow-50: #fffbeb;
	--color-yellow-600: #d97706;
	--color-yellow-700: #b45309;
	--color-yellow-800: #92400e;
	--color-yellow-900: #78350f;
	--color-yellow-950: #451a03;
	--font-families-code: Fira Code;
	--font-families-default: Inter;
	--font-sizes-2xl: 1.5rem;
	--font-sizes-3xl: 1.875rem;
	--font-sizes-4xl: 2.25rem;
	--font-sizes-5xl: 3rem;
	--font-sizes-6xl: 3.75rem;
	--font-sizes-7xl: 4.5rem;
	--font-sizes-8xl: 6rem;
	--font-sizes-lg: 1.125rem;
	--font-sizes-md: 0.875rem;
	--font-sizes-sm: 0.8125rem;
	--font-sizes-xl: 1.25rem;
	--font-sizes-xs: 0.75rem;
	--font-weights-bold: 600;
	--font-weights-medium: 500;
	--font-weights-regular: 400;
	--hover-card-border-width: var(--border-width-1);
	--hover-card-color-bg: var(--color-neutral-150);
	--hover-card-color-border: #2c3139;
	--input-border-radius: var(--border-radius-sm);
	--input-border-width: var(--border-width-1);
	--input-color-bg: var(--color-neutral-100);
	--input-color-border-active: var(--color-blue-500);
	--input-color-border-error: rgba(238, 48, 48, 0.5);
	--input-color-border-hover: var(--color-neutral-500);
	--input-color-border: var(--color-neutral-400);
	--input-color-icon: var(--color-neutral-600);
	--input-color-placeholder: var(--color-neutral-500);
	--input-color-text: var(--color-neutral-950);
	--modal-border-radius: var(--border-radius-lg);
	--modal-border-width: var(--border-width-0);
	--modal-color-bg: var(--color-neutral-150);
	--modal-color-border: #40454e;
	--popover-border-radius: var(--border-radius-sm);
	--popover-color-bg: var(--color-neutral-150);
	--popover-color-border: #2c3139;
	--progress-color-bg: var(--color-neutral-200);
	--progress-color-fg: var(--color-neutral-500);
	--radio-button-border-radius: var(--border-radius-full);
	--radio-button-border-width: var(--border-width-2);
	--shadow-2xl: 0 25px 50px -12px rgba(7, 8, 16, 0.3);
	--shadow-lg: 0 10px 15px -3px rgba(7, 8, 16, 0.2), 0 4px 6px -2px rgba(7, 8, 16, 0.1);
	--shadow-md: 0 4px 6px -1px rgba(7, 8, 16, 0.2), 0 2px 4px -1px rgba(7, 8, 16, 0.1);
	--shadow-sm: 0 1px 3px 0 rgba(7, 8, 16, 0.2), 0 1px 2px 0 rgba(7, 8, 16, 0.1);
	--shadow-xl: 0 10px 20px -5px rgba(7, 8, 16, 0.2), 0 10px 20px -1px rgba(7, 8, 16, 0.2);
	--shadow-xs: 0 1px 2px 0 rgba(7, 8, 16, 0.15);
	--shortcut-color-bg: rgba(156, 162, 171, 0.15);
	--shortcut-color-text: var(--color-neutral-600);
	--tag-border-radius: var(--border-radius-xs);
	--tag-border-width: var(--border-width-1);
	--tag-color-bg-active: rgba(156, 162, 171, 0.6);
	--tag-color-bg-hover: rgba(156, 162, 171, 0.4);
	--tag-color-bg: rgba(0, 0, 0, 0);
	--tag-color-border: #40454e;
	--tag-color-text: #9ca2ab;
	--text-decoration-line-through: line-through;
	--text-decoration-no-underline: none;
	--text-decoration-overline: overline;
	--text-decoration-underline: underline;
	--toast-border-radius: var(--border-radius-sm);
	--toast-border-width: var(--border-width-1);
	--toast-color-bg: var(--color-neutral-150);
	--toast-color-border: #40454e;
	--toast-color-text: #f9fafb;
	--toast-destructive-color-bg: var(--color-red-600);
	--toast-destructive-color-border: rgba(0, 0, 0, 0);
	--toast-destructive-color-text: #fff;
	--tooltip-color-bg: rgba(7, 8, 16, 0.9);
	--tooltip-color-text: rgba(243, 245, 246, 0.9);
}
