/*
 * SPDX-FileCopyrightText: 2023 Dash0 Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../design-tokens/design-tokens.css";

:root {
	--background: 222.2 84% 4.9%;
	--foreground: 210 40% 98%;

	--muted: 217.2 32.6% 17.5%;
	--muted-foreground: 215 20.2% 65.1%;

	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;

	--border: 217.2 32.6% 17.5%;
	--input: 217.2 32.6% 17.5%;

	--primary: 210 40% 98%;
	--primary-foreground: 222.2 47.4% 11.2%;

	--secondary: 217.2 32.6% 17.5%;
	--secondary-foreground: 210 40% 98%;

	--accent: 217.2 32.6% 17.5%;
	--accent-foreground: 210 40% 98%;

	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 85.7% 97.3%;

	--ring: 217.2 32.6% 17.5%;
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

.from-default-background {
	--tw-gradient-from: var(--color-bg-default);
	--tw-gradient-to: rgb(0 0 0 / 0);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

rect:focus {
	outline: none;
}
