name: Clean up test environment

# only trigger on pull request closed events
on:
  pull_request:
    types: [ closed ]

jobs:
  cleanup_test_env:
    name: Clean up test environment ${{ github.ref }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Install CDK dependencies
        shell: bash
        working-directory: packages/otelbin-validation
        run: |
          npm ci

      - name: Delete validation backend
        shell: bash
        working-directory: packages/otelbin-validation
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: 'eu-central-1' 
          CDK_DEPLOY_ACCOUNT: ${{ github.ref == 'refs/heads/main' && '462608073829' || '622203989445' }}
          CDK_DEPLOY_REGION: 'eu-central-1'
          GH_TOKEN: ${{ github.token }}
          TEST_ENVIRONMENT_NAME: ${{ steps.get_test_env_name.outputs.test_env_name }}
        run: |
          npx projen destroy --force