name: Clean up test environment

# only trigger on pull request closed events
on:
  pull_request:
    types: [ closed ]
  workflow_dispatch:

jobs:
  cleanup_test_env:
    name: Clean up test environment ${{ github.ref }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .nvmrc

      - name: Install CDK dependencies
        shell: bash
        working-directory: packages/otelbin-validation
        run: |
          npm ci

      - name: Get test environment name
        id: get_test_env_name
        shell: bash
        env:
          REF_NAME: ${{ github.head_ref || github.ref_name }}
        # When the trigger is a pull event, use the PR's branch name (`github.head_ref`), which
        # is available only for pull trigger. Otherwise, use the branch on which the commit was pushed.
        # (Ref names in pull requests are in the shape of `<pr_id>/merge` and those will break CDK.)
        run: |
          echo "test_env_name=$(./.github/workflows/scripts/test_env_name.sh)" >> $GITHUB_OUTPUT || exit 1

      - name: Select credentials
        id: select_credentials
        shell: bash
        env:
          TEST_ENVIRONMENT_NAME: ${{ steps.get_test_env_name.outputs.test_env_name }}
        run: |
          if [ "${TEST_ENVIRONMENT_NAME}" == 'main' ]; then
            echo 'aws_account=${{secrets.OTELBIN_AUTOMATION_ACCOUNT_PROD}}' >> ${GITHUB_OUTPUT}
            echo 'aws_access_key=${{secrets.OTELBIN_AUTOMATION_ACCESS_KEY_ID_PROD}}' >> ${GITHUB_OUTPUT}
            echo 'aws_secret_access_key=${{secrets.OTELBIN_AUTOMATION_SECRET_ACCESS_KEY_PROD}}' >> ${GITHUB_OUTPUT}
            echo 'role_arn=${{secrets.OTELBIN_AUTOMATION_ROLE_ARN_PROD}}' >> ${GITHUB_OUTPUT}
          else
            echo 'aws_account=${{secrets.OTELBIN_AUTOMATION_ACCOUNT_DEV}}' >> ${GITHUB_OUTPUT}
            echo 'aws_access_key=${{secrets.OTELBIN_AUTOMATION_ACCESS_KEY_ID_DEV}}' >> ${GITHUB_OUTPUT}
            echo 'aws_secret_access_key=${{secrets.OTELBIN_AUTOMATION_SECRET_ACCESS_KEY_DEV}}' >> ${GITHUB_OUTPUT}
            echo 'role_arn=${{secrets.OTELBIN_AUTOMATION_ROLE_ARN_DEV}}' >> ${GITHUB_OUTPUT}
          fi

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          aws-access-key-id: ${{ steps.select_credentials.outputs.aws_access_key }}
          aws-secret-access-key: ${{ steps.select_credentials.outputs.aws_secret_access_key }}
          aws-region: 'us-east-2'
          mask-aws-account-id: true
          role-to-assume: ${{ steps.select_credentials.outputs.role_arn }}

      - name: Delete validation backend
        shell: bash
        working-directory: packages/otelbin-validation
        env:
          AWS_ROLE_ARN: ${{ steps.select_credentials.outputs.role_arn }}
          AWS_DEFAULT_REGION: 'us-east-2'
          CDK_DEPLOY_ACCOUNT: ${{ steps.select_credentials.outputs.aws_account }}
          CDK_DEPLOY_REGION: 'us-east-2'
          GH_TOKEN: ${{ github.token }}
          TEST_ENVIRONMENT_NAME: ${{ steps.get_test_env_name.outputs.test_env_name }}
        run: |
          npx projen destroy --force
